*,::before,::after {
    box-sizing: border-box;
}
.App{
    display: flex;
    margin: 10px;
    height:96vh;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.App_left,.App_right{
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.counter{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
}
.counter_inputs,.counter_controls{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    width: 60%;
}
.counter_inputs input{
    width: 30%;
}
.counter_controls button{
    /* width: 20%; */
}
.counter_time{
    font-size: 10vh;
    margin-bottom: auto;
    text-align: center;
}
.Lap_Timer {
    text-align: center;
}
.List{
    max-height: 370px;
    height: 100%;
    overflow: scroll;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    margin-top: auto;
}
.List_table{
    width: 100%;
}
.List_table thead{
    background: burlywood;
    position: sticky;
    top:0;
}
.List_table tbody{
    text-align: center;
}
.redflag{
    color: red;
}